@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat.ttf);
}
@font-face {
    font-family: Montserrat-Black;
    src: url(fonts/Montserrat-Black.ttf);
}
*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

#sales{
    background: linear-gradient(to right, #FF66C4, #FFDE59);;
    color: white;
    height: 35px;
    text-align: center;
    padding: 6px;
    font-family: Montserrat;
    font-weight: 500;
    text-shadow: rgb(110, 110, 110) 1px 1px 5px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.links{
    color: #8ACDD7;
    font-family: Montserrat;
    font-weight: bold;
    text-decoration: none;
    margin: 50px;
    text-align: center;
}

.icons{
    margin: 50px;
}

#logo{
    font-family: Montserrat-Black;
    font-size: 35px;
    margin: 50px;
}