@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat.ttf);
}
@font-face {
    font-family: Montserrat-Black;
    src: url(fonts/Montserrat-Black.ttf);
}
@font-face {
    font-family: Montserrat-SemiBold;
    src: url(fonts/Montserrat-SemiBold.ttf);
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    position: sticky;
}
#sales{
    background: linear-gradient(to right, #FF66C4, #FFDE59);;
    color: white;
    height: 35px;
    text-align: center;
    padding: 8px;
    font-family: Montserrat;
    font-weight: 500;
    text-shadow: rgb(110, 110, 110) 1px 1px 5px;
}

.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    padding: 5px;
    border-bottom: medium solid #fbc1d9;
    margin-left: 5em;
    margin-right: 5em;
}

.links{
    color: #8ACDD7;
    font-family: Montserrat;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    margin-left: 1em;
    margin-right: 2em;
}

.icons{
    margin: 50px;
}

#logo{
    font-family: Montserrat-SemiBold;
    font-size: 35px;
    margin: 25px;
}

main{
    margin-left: 5em;
    margin-right: 5em;
}
#summerheader{
    width: 1000px;
    height: 300px;
}